{% load static %}
<section class="rose-benefits">
    <div class="m-4">
        <!-- تیتر با خط‌های کناری -->
        <div class="row title-row">
            <div class="col-12 text-center">
                <h2 class="section-title">
                    <span>فواید گلاب طبیعی که بعد از چند روز مصرف حس می‌کنید</span>
                </h2>
            </div>
        </div>

        <!-- کارت‌های ویژگی -->
        <div class="row g-4 justify-content-center">
            
            <div class="col-6 col-sm-6 col-lg-3">
                <div class="benefit-card">
                    <div class="benefit-icon">
                        <img src="{% static 'products/images/benfit-icon/khales.png.webp' %}" alt="طبیعی و خالص">
                    </div>
                    <h3 class="benefit-title">طبیعی و خالص</h3>
                    <p class="benefit-desc">بدون مواد افزودنی و تهیه شده از گل‌های تازه محمدی</p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="benefit-card">
                    <div class="benefit-icon">
                        <img src="{% static 'products/images/benfit-icon/aramesh.png.webp' %}" alt="آرامش بخش">
                    </div>
                    <h3 class="benefit-title">آرامش بخش</h3>
                    <p class="benefit-desc">رایحه دلنشین آن آرامش‌بخش و کاهش استرس را به همراه دارد.</p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="benefit-card">
                    <div class="benefit-icon">
                        <img src="{% static 'products/images/benfit-icon/paksazi.png.webp' %}" alt="پاکسازی طبیعی">
                    </div>
                    <h3 class="benefit-title">پاکسازی طبیعی</h3>
                    <p class="benefit-desc">پاک‌کننده ملایم پوست و کمک به رفع آلودگی‌ها</p>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-lg-3">
                <div class="benefit-card">
                    <div class="benefit-icon">
                        <img src="{% static 'products/images/benfit-icon/poost.png.webp' %}" alt="شاداب کننده پوست">
                    </div>
                    <h3 class="benefit-title">شاداب کننده پوست</h3>
                    <p class="benefit-desc">طراوت و شادابی را به پوست باز می‌گرداند</p>
                </div>
            </div>

        </div>
    </div>
</section>
