{% load static %}

<footer class="footer-section" id="footer-section">
    <!-- کانتینر اصلی: کنترل عرض روی این انجام می‌شود -->
    <div class="container w-75 mx-auto">

        <!-- بخش کرم رنگ -->
        <div class="footer-top pt-lg-4 pb-2">
            <div class="row g-4 text-center text-md-end">
                <!-- ستون‌ها -->

                <!-- ستون راه‌های ارتباطی -->
                <div class="col-12 col-md-4 order-3 order-md-1">
                    <h5 class="footer-title">راه‌های ارتباطی</h5>
                    <ul class="list-unstyled">
                        <li><b>شعبه 1</b>: یزد، روستای زردین</li>
                        <li><b>شعبه 1</b>: یزد، بلوار پاسداران</li>
                        <li><b>تلفن</b>: ۰۹۱۳۳۵۰۶۸۳۷</li>
                    </ul>
                </div>

                <!-- ستون لینک‌های سریع -->
                <div class="col-12 col-6 col-md-4 order-2 order-md-2">
                    <h5 class="footer-title">لینک‌های سریع</h5>
                    <ul class="list-unstyled footer-menu">
                        <li><a href="#product-list">محصولات</a></li>
                        <li><a href="#about-us-section">درباره ما</a></li>
                        <li><a href="#film-golab">فرآیند تولید</a></li>
                    </ul>
                </div>

                <!-- ستون لوگو و متن -->
                <div class="col-12 col-6 col-md-4 order-1 order-md-3 text-center">
                    <img src="{% static 'images/logo.png.webp' %}" style="width: 70px" class="mb-2" alt="لوگو هراجیک">
                    <p class="small">
                        هراجیک؛ تولیدکننده محصولات طبیعی و خالص گل‌های محمدی یزد.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- نوار سبز پایین (دقیقاً زیر بخش کرم) -->
    <div class="footer-bottom-bar text-center py-1">
        <p class="m-0 text-white">تمامی حقوق سایت محفوظ است</p>
    </div>
</footer>
