<section class="hero-banner d-flex align-items-center" id="baner-section">
  <div class="container">
    <div class="row align-items-center">

      <!-- متن‌ها -->
      <div class="col-lg-6 col-md-7 col-12 text-center hero-text order-2 order-lg-2">

        <h1 class="hero-title">
          گلاب طبیعی هراچیک
        </h1>

        <h4 class="hero-subtitle">
          طبیعت خالص، رایحه ماندگار
        </h4>

        <p class="hero-desc">
          گلاب هراچیک از گل محمدی تازه و خوش‌بوی مزارع روستای دره گل یزد
          تهیه شده و با استفاده از اصیل‌ترین روش‌های تقطیر سنتی و طبیعی
          به‌دست شما می‌رسد.
        </p>

        <div class="mt-4 d-flex gap-3 justify-content-end flex-wrap">
          <a href="#" class="btn btn-success px-4 py-2" data-bs-toggle="modal" data-bs-target="#videoModal">
           داستان شکوفایی مزرعه▶
          </a>

          <a href="#products-show" class="btn btn-light px-4 py-2 border">
            مشاهده محصولات 🌼
          </a>
        </div>

      </div>

      <!-- ستون خالی برای جایگیری متن -->
      <div class="col-lg-6 order-1 order-lg-1"></div>

    </div>
  </div>
</section>
