<div class="offcanvas offcanvas-bottom cart-offcanvas"
     tabindex="-1"
     id="cartOffcanvas">

  <div class="offcanvas-header pt-5 ">
      <h5>سبد سفارش</h5>
          <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close">
    </button>
  </div>

  <div class="offcanvas-body">

      <div id="cartItems"  class="cart-grid"></div>
  <div class="cart-footer">
      

     <div class="d-flex justify-content-between">

    <span>جمع کل</span>

    <strong id="cartTotal">
        0 تومان
    </strong>

</div>

      <button
          class="btn btn-success w-100 mt-3"
          id="checkoutBtn">

          تکمیل سفارش
      </button>
</div>
  </div>
</div>