<div class="offcanvas offcanvas-bottom product-offcanvas pt-5"
     tabindex="-1"
     id="productOffcanvas" >

    <div class="offcanvas-header border-bottom">

       <div class="product-modal-header">

    <h3 id="offcanvasProductName" class="product-title mb-1">
    </h3>

    <p class="product-subtitle">
        ظرف موردنظر و تعداد را انتخاب کنید.
    </p>

    <div class="volume-note">

        <div class="volume-note-icon">
            <i class="fa-solid fa-circle-info"></i>
        </div>

        <div class="volume-note-text">
            قیمت گالن‌های <strong>۱۰</strong> و <strong>۲۰ لیتری</strong>
            مربوط به عرق خالص بوده و هزینه ظرف هنگام ثبت سفارش
            به‌صورت جداگانه محاسبه می‌شود.
        </div>

    </div>

</div>

        <button class="btn-close"
                data-bs-dismiss="offcanvas">
        </button>

    </div>

    <div class="offcanvas-body">

        <div class="container-list" id="containerCards">

            <!-- توسط جاوااسکریپت ساخته می‌شود -->

        </div>


        <div class="summary-card mt-4">

            <div class="summary-title">

                خلاصه انتخاب شما

            </div>

            <div class="summary-row">

                <span>تعداد انتخاب شده</span>

                <strong id="summaryQty">

                    ۰ ظرف

                </strong>

            </div>

            <div class="summary-row">

                <span>حجم کل</span>

                <strong>

                    <span id="totalLiters">0</span>

                    لیتر

                </strong>

            </div>

            <div class="summary-row total-price">

                <span>مبلغ تقریبی</span>

                <strong>

                    <span id="totalPrice">

                        0

                    </span>

                    تومان

                </strong>

            </div>

        </div>


        <div id="bulkPriceNotice"
             class="bulk-alert d-none">

            سفارش بالای ۱۰ لیتر شامل قیمت عمده خواهد بود.

        </div>


        <button
                id="addToCartBtn"
                class="btn btn-success btn-lg w-100 mt-4">

            <i class="bi bi-cart-plus"></i>

            افزودن به سبد خرید

        </button>

    </div>

</div>
<div id="toast" class="toast">
    <i class="bi bi-check-circle-fill"></i>
    <span>محصول به سبد خرید اضافه شد.</span>
</div>